.about {
    margin-top: 150px;
}



.about__block {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.about__block-img {
    max-width: 490px;

    img {
        border-radius: 10px;
    }
}

.about__block-information {
    margin-top: 89px;
    max-width: 588px;
    margin-left: 15px;
}

.about__block-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}

.about__block-text {
margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.about__block-btn {
    margin-top: 30px;
    height: 50px;
    width: 154px;

}
